@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@800&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,800&family=Roboto+Mono:wght@200;300;400;500;600;700&family=Source+Code+Pro:wght@400;500;600;700;800;900&display=swap');

.optionCounterbutton{
  @apply bg-slate-400 p-2 rounded-full w-10 text-white col-span-1;
}
.glass{
  border-radius: 10px;
  backdrop-filter: blur(10px);
  padding: 1rem;
  background: linear-gradient( to left ,rgba(83, 83, 83, 0.24),rgba(255, 255, 255, 0.74));
}
.optionCounterNumber{
  @apply font-bold font-body col-span-1 text-center 
}

.handbackground{ 

  height: 500px;

  background-image: url("./assets/images/5540930.jpg") ;
background-size: cover;

  background-repeat: no-repeat;
  background-position: left;
}
.viber{
  animation:.4s  ease-in-out vibrate ;
}

@keyframes vibrate {
  0.50%,
  10%,
  20%,
  30%,
  40%,
  50% {
    -webkit-transform: translate3d(0.5px, 0, 0);
    transform: translate3d(0.5px, 0, 0);
  }
  5%,
  15%,
  25%,
  35%,
  45% {
    -webkit-transform: translate3d(-0.5px, 0, 0);
    transform: translate3d(-0.5px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0.5px, 0, 0);
    transform: translate3d(0.5px, 0, 0);
  }
}