@tailwind base;
@tailwind components;
@tailwind utilities;

.handbackground{
  height: 500px;
  background-image: url("./assets/images/bachground.jpg") ;
background-size: contain;
 
  background-repeat: no-repeat;
  background-position: left;
}
.viber{
  animation:.4s  ease-in-out vibrate ;
}

@keyframes vibrate {
  0.50%,
  10%,
  20%,
  30%,
  40%,
  50% {
    -webkit-transform: translate3d(0.5px, 0, 0);
    transform: translate3d(0.5px, 0, 0);
  }
  5%,
  15%,
  25%,
  35%,
  45% {
    -webkit-transform: translate3d(-0.5px, 0, 0);
    transform: translate3d(-0.5px, 0, 0);
  }
  100% {
    -webkit-transform: translate3d(0.5px, 0, 0);
    transform: translate3d(0.5px, 0, 0);
  }
}